.thesignupform {
    background: #fff;
    border-radius: 1em;
    margin: auto;
    max-width: 350px;
    min-width: 250px;
    padding: 2.6em;
    width: 100%;
}

@media (min-width:600px) {
    .thesignupform {
        min-width: 400px !important;
    }
}

.authemail,
.authpassword {
    margin-bottom: 1em;
}


.forauth {
    text-align: center;
    font-size: 2em !important;
    margin: 1em 0 !important;
}

.authlinks {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
}

.authpassword .labelcontainer {
    justify-content: space-between;
    align-items: center;
}

.authbtn {
    background: linear-gradient(180deg, black, #242424);
    color: white;
    border: none;
    padding: 1em;
    width: 100%;
    border-radius: .5em;
    margin-bottom: 2em;
}

.authbtn:hover {
    background: linear-gradient(180deg, black, #000000);
}

.otherp {
    color: rgb(52, 52, 52);
}