/* symbol input */
.showdropdown {
    position: absolute;
    /* top: 4em; */
    left: 0;
    right: 0;
    height: max-content;
    line-break: anywhere;
    background: beige !important;
    z-index: 1;
}

.theitems {
    padding: .2em .5em;
    background-color: beige;
    cursor: default;
}

.theitems:hover {
    background-color: rgb(193, 193, 193);
    /* font-weight: 100; */
}

/* symbol input end */

.custominputbox {
    padding: .2em .5em .3em .5em;
    width: fit-content;
    border-radius: 5px;
    width: -webkit-fill-available;
}


select {
    padding: .4em .5em .4em .5em;
    outline: none;
    border-radius: 1em;
}


.thelabel {
    display: block;
    margin-bottom: .5em;
}

.custominputbox:has(input[type="color"], select) {
    padding: 0;
}


input,
select {
    background: transparent;
    border: none;
    width: 100%;
}

input[type="submit"] {
    background: #f30101;
    padding: 0.8em;
    color: white;
    border-radius: 10px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: block;
    opacity: 1;
    cursor: pointer;
    /* z-index: 1; */
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('/public/date.png');
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url('/public/time.png');
}

input[type="week"]::-webkit-calendar-picker-indicator {
    background-image: url('/public/week.png');

}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-image: url('/public/datetime.png');
}

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}