* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: Poppins,
        Roboto,
        Arial,
        sans-serif !important;
}

html,
body {
    height: -webkit-fill-available;
}

.addnew {
    padding: 0.4em .8em;
    background: #050096;
    border-radius: 0.2em;
    color: white;
}

a {
    text-decoration: none;
}

.themebtn {
    width: 1.2em;
    display: inline-block;
    cursor: pointer;
    margin-right: 2em;
}


/* fee recommendation start */
.feerecommend {
    padding: 0.4em .8em;
    font-size: .8em;
    height: 2.2em;
    border-radius: 5px;
    max-height: max-content;
    transform: translateY(-4px);
}

.feerecommend span {
    font-weight: 600;
}

/* fee recommendation end  */


:focus {
    outline: none;
}

.navbar {
    position: fixed;
    height: -webkit-fill-available;
    width: 260px;
}

.content {
    position: absolute;
    right: 0;
    /* width: calc(100% - 4em - 260px); */
    width: calc(100% - 8em - 260px);
    margin-right: 4em;
    margin-top: 1em;
    /* border-top: 2em solid;
    border-top-color: limegreen; */
}



@media (max-width:950px) {

    .content {
        padding: 1em;
        margin-top: .5em !important;
    }

    .navbar,
    .content {
        position: unset;
        width: 100%;
    }

}


/* .content section  */

.heading_comp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

h1.heading {
    font-size: 1.6em;
}