/* light theme variables */
:root.dark-theme {
    --themain-background: #161d31;
    --menubtn-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(104%) contrast(104%);
    --logo-color: beige;
    --p-color: white;
    --a-color: white;
    --primary-background: #283046;

}

/* dark theme */
:root.light-theme {
    --themain-background: #f8f8f8;
    --menubtn-filter: unset;
    --logo-color: blue;
    --p-color: black;
    --a-color: black;
    --primary-background: white;
}


html {
    background-color: var(--themain-background);
}

p {
    color: var(--p-color);
}

a {
    color: var(--a-color);
}

.logo {
    color: var(--logo-color);
}

.openmenubtn {
    filter: var(--menubtn-filter);
}

.navbar,
.navbar_inner.opening,
.navbar_inner.closing,
.thebox {
    background-color: var(--primary-background);
}