/* light theme variables */
:root.dark-theme {
    --themain-background: #161d31;
    --image-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(1deg) brightness(104%) contrast(104%);
    --navbar-shadow: #d3d3d366;
    --logo-color: beige;
    --p-color: white;
    --a-color: white;
    --primary-background: #283046;
    --input-border: white;
    --input-background: var(--primary-background);
    --input-shadow: rgba(245, 245, 245, 0.713);
    --input-text-color: white;
    --input-placeholder: #C4C4C4;
}

/* dark theme */
:root.light-theme {
    --themain-background: #f8f8f8;
    --image-filter: unset;
    --navbar-shadow: #2304d066;
    --logo-color: blue;
    --p-color: black;
    --a-color: black;
    --primary-background: white;
    --input-border: black;
    --input-background: white;
    --input-shadow: rgba(3, 102, 214, 0.3);
    --input-text-color: black;
    --input-placeholder: #c1c1c1;
}


html {
    background-color: var(--themain-background);
}

p,
label,
.menudropdown,
.droplinks li::marker {
    color: var(--p-color);
}

a {
    color: var(--a-color);
}

.logo {
    color: var(--logo-color);
}

.openmenubtn,
.menudropdown img,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator {
    filter: var(--image-filter);
}

.navbar,
.navbar_inner.opening,
.navbar_inner.closing,
.thebox {
    background-color: var(--primary-background);
}


@media (max-width:950px) {
    .navbar_inner.opening {
        box-shadow: 20px 0px 20000px 60px var(--navbar-shadow);
    }
}


/* colors for input boxes */

.custominputbox {
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    cursor: text;
}

.theinput {
    color: var(--input-text-color);
}

.thebox::placeholder {
    color: var(--input-placeholder, orange);
    /* color: red; */
}

.custominputbox:focus-within {
    /* set styles for when the container or input is in focus */
    box-shadow: var(--input-shadow) 0px 0px 0px 3px;
}

.custominputbox input::placeholder {
    color: var(--input-placeholder, #ccc);
    /* set the default color and fallback value */
}